/*Start: Element style section*/
body{
    background-color: #FFF3E0;
    color: #424242;
}
h1{
    color:#BF360C ;
    text-align: center;
}
h2,h3{
    color: #D84315;
    text-align: center;
}
pre{
    background-color: #c4e88f;
    width: fit-content;
    white-space: pre-line;
    padding: 15px 45px;
    margin: 0 auto;
    border-radius: 30px;
    padding-bottom: 30px;
}
pre:hover{
    font-weight: 700;
    background-color: #beea7d;
}
p{
    font-weight: 500;
    padding-left: 35px;
    padding-right: 35px;
    text-align: justify;
}
/*End: Element style section*/
/*---------------------------------------------------------------------*/
/*Srart: option buttons style*/
.option{
    display: flex;
    flex-direction: row;
    margin: 15px;
}
.option button{
    background-color:#FBC02D;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;

}
.option label{
    padding-right: 20px;
    padding-left: 20px;
    font-size: larger;
    font-weight: 400;
}
.option button:hover{
    background-color: #FF9800;
}
/*End: option buttons style*/

.continer{
    background-color: #FAFAFA;
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;
    padding: 20px;
}

.list-one,.list-two,.list-three{
    background-color: #ffb5b5;
    width: fit-content;
    padding: 10px 60px;
    margin: 15px auto;
    border-radius:30px ;
    border: 1px solid #FFE0B2;
    list-style-type: circle;
}





/*Start: Final Section*/
.final-example{
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: lemonchiffon;
    padding: 10px 30px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid #FFE0B2;
}
.final-example-pre,
.final-example-list{
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 400;
    margin: 10px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    
}
.final-example-list{
    background-color: #72b272;
    width: fit-content;
    border-radius: 30px;
}

.final-example-pre:hover,
.final-example-list:hover{
    font-size: larger;
    font-weight: 700;
    color: orangered;
    background-color: #d6d28a;
}
/*End: Start Section*/